<template>
  <section>
    <a class="block box" style="color: inherit; margin-bottom: 0.8rem;">
      <article class="media">
        <figure class="media-left">
          <b-skeleton circle width="64px" height="64px"></b-skeleton>
        </figure>
        <div class="media-content">
          <p>
            <strong> <b-skeleton></b-skeleton></strong>
            <br />
            <small> <b-skeleton></b-skeleton></small>
          </p>
        </div>
      </article>
    </a>
  </section>
</template>
