<template>
  <div>
    <section class="section">
      <section class="hero is-success">
        <div class="hero-body">
          <nav class="level">
            <div class="level-left">
              <div class="level-item has-text-centered">
                <figure class="image is-128x128">
                  <img class="is-rounded" :src="`${publicPath}r2.jpeg`" />
                </figure>
              </div>
              <div class="level-item">
                <div class="container">
                  <h1 class="title is-1">{{ name }}</h1>
                  <h2 class="subtitle is-3">{{ userid }}</h2>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>

      <nav class="level">
        <div
          v-if="!mtclient || mtclient.userTimeline === null"
          class="level-item has-text-centered"
        >
          <div>
            <PostSkeleton media="2" />
            <p class="heading py-5">Loading</p>
          </div>
        </div>
      </nav>

      <div v-if="mtclient">
        <PostEditorBt :roomID="roomID" class="py-2" />
        <TimelineView :timeline="mtclient.userTimeline" />
      </div>
    </section>

    <button class="button" v-on:click="loadMoreItems">Load more</button>
  </div>
</template>

<script>
import TimelineView from "../Helpers/TimelineView";
import PostEditorBt from "@/components/Helpers/PostEditorButton";
import PostSkeleton from "@/components/Skeletons/PostSkeleton";

import { getUser, loadMore, sortTimeline } from "../../js/matrix";

export default {
  data() {
    return {
      loading: true,
      id: "",
      publicPath: process.env.BASE_URL, // for pictures
    };
  },
  async mounted() {
    console.log("User feed vue mounted");
    //await this.loadTimeline();
  },
  props: ["userid"],
  components: {
    PostEditorBt,
    PostSkeleton,
    TimelineView,
  },
  computed: {
    name() {
      try {
        if (this.$store.state.smatrixReady) {
          return getUser(this.useridCorrected).displayName;
        } else {
          return "loading...";
        }
      } catch {
        // could not get the associated user... may be the user is not yet friend
        return this.useridCorrected;
      }
    },
    useridCorrected() {
      if (this.userid !== undefined) {
        return this.userid;
      }
      return localStorage.userid;
    },
    roomID() {
      return this.mtclient.usernameToRoomId(this.userid);
    },
    mtclient() {
      return this.$store.state.mtclient;
    },
  },
  watch: {
    userid: async function (val) {
      console.log("New value : " + val);
      if (this.mtclient) await this.mtclient.loadUserTimeline(val);
    },
  },

  methods: {
    async loadTimeline() {
      console.log("Load timeline");
    },
    async loadMoreItems() {
      this.mtclient.userTimeline = await loadMore(
        this.mtclient.selectUserDetails.room
      );

      // sort the user timeline
      this.mtclient.userTimeline = await sortTimeline(
        this.mtclient.userTimeline
      );

      // we should sort the global timeline also
      this.mtclient.timeline = await sortTimeline(this.mtclient.timeline);

      console.log("Load more");
    },
  },
};
</script>

<style scoped>
.hero {
  background-image: url("https://www.omgubuntu.co.uk/wp-content/uploads/2017/01/kde-plasma-5.9-wallpaper-750x469.jpg");
  background-size: cover;
  background-position: bottom;
}
.title,
.subtitle {
  margin-bottom: 1.3rem;
}
</style>
