<template>
  <div>
    <section class="hero is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Welcome to SMatrix !</h1>
          <h2 class="subtitle">The privacy focused social media</h2>
        </div>
      </div>
    </section>

    <h2 class="title is-4">Join the future :</h2>
    <b-button type="is-success" @click="createAccount()">Create an account</b-button>
  </div>
</template>

<script>
import { createSMatrixAccount } from "../../js/matrix";

export default {
  mounted: function () {
    console.log("mounted");
    if (global.vue.$store.state.userCreationNeeded == false) {
      global.vue.$router.push("feed"); // no need to be here...
    }
  },
  methods: {
    async createAccount() {
      await createSMatrixAccount();
      await global.vue.$store.state.mtclient.sync();

      // account created... we can start the app...
      global.vue.$store.state.userCreationNeeded == false;
      global.vue.$router.push("feed");
    },
  },
};
</script>