<template>
  <div class="section">
    <h2 class="title">User feed</h2>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img
              class="is-rounded"
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.mZOKDJ3pxBOT-R1EcIDEyAHaHa%26pid%3DApi&f=1"
            />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Sherlock Holmes</strong>
              <br />
              <small>@sherlock:henri2h</small>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fas fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fas fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>

        <div class="media-right">31min</div>
      </article>

      <strong>My argument :</strong>
      <p>Et commodi totam ipsum veritatis ut et accusamus tempore. Non quasi nostrum vel quo dolores fuga eius quam. Rerum alias nesciunt eum laboriosam. Deleniti eos iste et perspiciatis dolorum. Quasi velit provident consequuntur neque hic aliquid.…</p>

      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <vue-fontawesome icon="reply" />
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <vue-fontawesome icon="retweet" />
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <vue-fontawesome icon="heart" />
            </span>
          </a>
        </div>
      </nav>
    </div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img
            class="is-rounded"
            src="https://1.bp.blogspot.com/-5tputdSvYLg/UbIsgo8h8XI/AAAAAAAABrc/6MqMXKBMzao/s1600/john-watson-sherlock6.jpg"
          />
        </p>
      </figure>
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="input is-rounded" placeholder="Add a comment..."></textarea>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button">Post comment</button>
          </p>
        </div>
      </div>
    </article>

    <section class="section">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://www.navalnews.com/wp-content/uploads/2019/07/More-Details-on-Suffren-The-French-Navy-Next-Gen-SSN-on-its-Export-SSK-Variants-3-1024x683.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  class="is-rounded"
                  src="http://www.comptoir-des-monnaies.com/images/products/big/62803_galerie-metallique-des-grands-hommes-francais-medaille-pierre-andre-suffren-avers.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Pierre André de Suffren</p>
              <p class="subtitle is-6">@pierreandrédesuffren:matrix.org</p>
            </div>
          </div>

          <div class="content">
            Hey, checkout my new submarine !
            <a>@bulmaio</a>.
            <a href="#">#css</a>
            <a href="#">#responsive</a>
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 July 2020</time>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="notification">Hey, that's all for today folks !</div>

      </div>

      <Card></Card>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br />
              <small>
                <a>Like</a> ·
                <a>Reply</a> · 3 hrs
              </small>
            </p>
          </div>

          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Sean Brown</strong>
                  <br />Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                  <br />
                  <small>
                    <a>Like</a> ·
                    <a>Reply</a> · 2 hrs
                  </small>
                </p>
              </div>

              <article
                class="media"
              >Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.</article>

              <article
                class="media"
              >Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.</article>
            </div>
          </article>

          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Kayli Eunice</strong>
                  <br />Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                  <br />
                  <small>
                    <a>Like</a> ·
                    <a>Reply</a> · 2 hrs
                  </small>
                </p>
              </div>
            </div>
          </article>
        </div>
      </article>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button">Post comment</button>
            </p>
          </div>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import Card from "../Helpers/Card";

export default {
  components: { Card },
};
</script>