<template>
  <div>
    <section class="section">
      <h2 class="title is-2">Friends</h2>
      <UserSelection class="pb-5" />
      <div v-if="!mtclient">
        <SkeletonDisplay />
        <SkeletonDisplay />
        <SkeletonDisplay />
      </div>

      <div v-if="mtclient">
        <h2 class="title is-4">Friends</h2>
        <div v-for="contact in mtclient.friends" :key="contact.userId">
          <div
            v-if="contact.membership == 'join' && contact.userid != username"
          >
            <AccountDisplay :account="contact" />
          </div>
        </div>

        <div v-if="mtclient.friendsInvites.length">
          <h2 class="title is-4">Friends ingoing requests</h2>
          <div v-for="contact in mtclient.friendsInvites" :key="contact.userId">
            <AccountDisplay :account="contact" type="inrequest" />
          </div>
        </div>

        <h2 class="title is-4">Friends outgoing requests</h2>
        <div v-for="contact in mtclient.friends" :key="contact.userId">
          <div v-if="contact.membership == 'request'">
            <AccountDisplay :account="contact" type="outrequest" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import AccountDisplay from "../Helpers/AccountDisplay";
import UserSelection from "../Helpers/UserSelection";
import SkeletonDisplay from "@/components/Skeletons/UserSkeleton";

export default {
  components: {
    AccountDisplay,
    UserSelection,
    SkeletonDisplay,
  },

  computed: {
    mtclient() {
      return this.$store.state.mtclient;
    },
    username() {
      return this.$store.state.mtclient.selectUserDetails.userid;
    },
  },
};
</script>
