<template>
  <div class="section">
    <h2 class="title is-3">Debug :</h2>

    <div v-if="mtclient" class="table-container">
      <b-table :data="mtclient.rooms">
        <b-table-column label="Room Name" width="40" v-slot="props">
          {{ props.row.name }}
        </b-table-column>

        <b-table-column label="Room ID" v-slot="props">
          {{ props.row.roomId }}
        </b-table-column>

        <b-table-column label="Timeline length" v-slot="props">
          <b-tag type="is-info">{{ props.row.timeline.length }}</b-tag>
        </b-table-column>
        
        <b-table-column label="Last modified" v-slot="props">
          {{ getTime(props.row.currentState._modified).fromNow() }}
        </b-table-column>

        <b-table-column label="Room encryption" v-slot="props">
          <b-icon
            v-if="mtclient.isRoomEncrypted(props.row)"
            type="is-success"
            icon="lock"
          ></b-icon>
          <b-icon v-else type="is-danger" icon="lock-open"></b-icon>
        </b-table-column>

        <b-table-column v-slot="props">
          <b-button @click="loadMore(props.row)">Load more</b-button>
        </b-table-column>
      </b-table>
    </div>

    <h2 class="title">Commands :</h2>

    <b-button @click="loadMoreAll" type="is-info"
      >Load more messages in each conv</b-button
    >

    <h2 class="title is-4">Account creation needed :</h2>
    {{ accountCreationNeeded }}
    <h2 class="title is-4">Connected :</h2>
    {{ connected }}
    <h2 class="title is-4">Friends :</h2>
    <div v-for="contact in friends" :key="contact.userId">{{ contact }}</div>
    <h2 class="title is-4">Friends invites:</h2>
    <div v-for="contact in friendsInvites" :key="contact.userId">
      {{ contact }}
    </div>
    <h2 class="title is-4">Joined rooms :</h2>
    {{ joinedRooms }}
    <h2 class="title is-4">Smatrix rooms :</h2>
    {{ smatrixRooms }}
    <h2 class="title is-4">Smatrix rooms Invitations :</h2>
    {{ smatrixRoomsInvites }}
  </div>
</template>
<script>
import moment from "moment";

export default {
  data() {
    return {
      columns: [
        { field: "name", label: "name" },
        { field: "roomId", label: "ID", width: "40" },
        { field: "currentState._modified", label: "Modified" },
        { field: "currentState._eventsCount", label: "Events count" },
      ],
    };
  },
  methods: {
    loadMore(item) {
      this.mtclient.loadAndSort(item);
    },

    loadMoreAll() {
      if (this.mtclient) {
        this.mtclient.rooms.forEach((room) => {
          this.loadMore(room);
        });
      }
    },

    getTime(item) {
      return moment(item, "x");
    },
  },
  computed: {
    accountCreationNeeded() {
      return this.$store.state.accountCreationNeeded;
    },
    connected() {
      return this.$store.state.connected;
    },
    friends() {
      return this.$store.state.friends;
    },
    joinedRooms() {
      return this.$store.state.joinedRoomsId;
    },

    mtclient() {
      return this.$store.state.mtclient;
    },

    smatrixRooms() {
      return this.$store.state.smatrixRooms;
    },
    smatrixRoomsInvites() {
      return this.$store.state.smatrixRoomsInvites;
    },
    friendsInvites() {
      return this.$store.state.friendsInvites;
    },
  },
};
</script>

<style scoped>
.vtable {
  max-width: 50vw;
}
</style>
