<template>
  <div>
    <section class="section pt-3">
      <h2 class="title">Feed</h2>
      <nav v-if="!mtclient">
        <PostSkeleton media="2" />
        <div class="has-text-centered container py-4">
          <p class="heading is-size-5">Loading</p>
        </div>
      </nav>
      <div v-if="mtclient">
        <PostEditorBt class="py-2"/>
        <TimelineView :timeline="mtclient.timeline" />
      </div>
    </section>
  </div>
</template>

<script>
import TimelineView from "@/components/Helpers/TimelineView";
import PostEditorBt from "@/components/Helpers/PostEditorButton";
import PostSkeleton from "@/components/Skeletons/PostSkeleton";

export default {
  data() {
    return {
      loading: true,
    };
  },
  components: {
    TimelineView,
    PostSkeleton,
    PostEditorBt,
  },
  computed: {
    mtclient() {
      return this.$store.state.mtclient;
    },
  },
};
</script>
