<template>
  <div>
    <h2 class="title is-3">Your post :</h2>

    <form action @submit.prevent="sendPost">
      <b-field label="Your post :">
        <b-input type="textarea" v-model="content" placeholder="Your post" required></b-input>
      </b-field>
      <footer class="field is-grouped">
        <p class="control">
          <button class="button is-success">Send</button>
        </p>
      </footer>
    </form>

    <h2 class="title is-3">Preview :</h2>
    <markdown-it-vue class="md-body" :content="content" />
  </div>
</template>

<script>
import { sendPost } from "../../js/matrix";

import MarkdownItVue from "markdown-it-vue";
import "markdown-it-vue/dist/markdown-it-vue.css";
export default {
  components: {
    MarkdownItVue,
  },
  data() {
    return {
      content: "",
    };
  },
  methods: {
    async sendPost() {
      console.log("Send post...");
      await sendPost(this.content);
      this.content = "";
      this.$buefy.toast.open({
        duration: 1000,
        message: `Posted`,
        type: "is-success",
      });
    },
  },
};
</script>