<template>
  <div>
    <p class="image is-48x48" v-if="account.avatar_url != null">
      <img class="is-rounded" :src="getUrl()" />
    </p>
    <h2 v-else class="title image is-48x48">{{ accountName }}</h2>
  </div>
</template>

<script>
export default {
  props: ["account"],
  methods: {
    getUrl() {
      return global.matrixclient.mxcUrlToHttp(
        this.account.avatar_url,
        50,
        50,
        "scale"
      );
    },
  },
  computed: {
    accountName() {
      if (this.account.name != undefined) return this.account.name[0];
      else return "error";
    },
  },
};
</script>
