<template>
  <a
    class="block box"
    v-on:click="goToUser(account.userid)"
    style="color: inherit; margin-bottom: 0.8rem;"
  >
    <article class="media">
      <figure class="media-left">
        <AccountDisplay :account="account" />
      </figure>
      <div class="media-content">
        <p>
          <strong>{{ account.name }}</strong>
          <br />
          <small>{{ account.userid }}</small>
        </p>

        <nav class="level is-mobile" v-if="type == 'inrequest'">
          <div class="level-left"></div>
          <div class="level-right">
            <a class="level-item has-text-dark">
              <span class="icon ">
                <vue-fontawesome icon="user-times" />
              </span>
              Ignore
            </a>
            <a class="level-item has-text-dark">
              <span class="icon has-text-success">
                <vue-fontawesome icon="user-check" />
              </span> Accept
            </a>
          </div>
        </nav>
      </div>
    </article>
  </a>
</template>

<script>
import AccountDisplay from "./AccountImage";
export default {
  props: ["account", "type"],
  components: { AccountDisplay },
  methods: {
    goToUser(user) {
      global.vue.$router.push({ path: `/user-feed/${user}` });
    },
  },
};
</script>
