<template>
  <div class="container">
    <h2 class="title is-3">Your post :</h2>

    <form action @submit.prevent="sendPost">
      <b-field label="Your post :">
        <b-input
          type="textarea"
          v-model="content"
          placeholder="Your post"
          required
        ></b-input>
      </b-field>
      <footer class="field">
        <div class="buttons">
          <b-button @click="$emit('close')">Cancel</b-button>
          <b-button @click="sendPost" type="is-success" icon-right="paper-plane">Send</b-button>
        </div>
      </footer>
    </form>

    <h2 class="title is-3">Preview :</h2>
    <markdown-it-vue :content="content" />
  </div>
</template>

<script>
import MarkdownItVue from "markdown-it-vue";
import "markdown-it-vue/dist/markdown-it-vue.css";

export default {
  components: {
    MarkdownItVue,
  },
  props: ["roomID"],
  data() {
    return {
      content: "",
    };
  },
  computed: {
    mtclient() {
      return this.$store.state.mtclient;
    },
  },
  methods: {
    async sendPost() {
      console.log("Send post...");
      await this.mtclient.sendPost(this.content, this.roomID);
      this.content = "";
      this.$buefy.toast.open({
        duration: 1000,
        message: `Posted`,
        type: "is-success",
      });
    },
  },
};
</script>
