<template>
  <div>
    <template
      v-if="
        post.type == 'm.text' ||
          post.type == 'm.image' ||
          post.type == 'm.video'
      "
    >
      <article class="padding">
        <div class="box py-4 px-5">
          <div class="level is-mobile mb-2">
            <div class="level-left">
              <div class="level-item">
                <figure class="image is-32x32">
                  <AccountImage :account="post.sender" />
                </figure>
              </div>

              <div class="level-item">
                <div class="content">
                  <router-link :to="{ path: '/user-feed/' + post.sender.userId }"
                    ><strong>{{ post.sender.name }}</strong>
                  </router-link>

                  <div v-if="post.sender.roomId != senderRoomId">
                    to
                    <router-link :to="{ path: '/user-feed/' + roomUser.userId }">
                      <strong> {{ destinationName }}</strong>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>

            <div class="level-right">
              <div class="level-item">{{ readableDateTime }}</div>
            </div>
          </div>
          <markdown-it-vue
            v-if="post.type == 'm.text'"
            class="md-body px-2"
            :content="post.content.body"
          />
          <div v-else-if="post.type == 'm.image'">
            <figure class="image">
              <img :src="getUrl()" alt="Placeholder image" />
            </figure>
          </div>
          <div v-else-if="post.type == 'm.video'">
           <p class="is-hidden"> 
            t : {{ post.content.info.mimetype }}
            {{ post.content }}
            {{ post.url }}
            {{ getVideoUrl() }}</p>
            <figure class="image is-hidden">
              <img :src="getUrl()" alt="Placeholder image" />
            </figure>
            <video class="image" controls>
              <source :src="getVideoUrl()" :type="post.content.info.mimetype" />
              Your browser does not support the video tag.
            </video>
          </div>

          <Reaction class="pt-2" :reactions="post.reactions" />
        </div>
      </article>
    </template>

    <template v-else-if="displayAllEvents">{{ post.content }}</template>
  </div>
</template>

<script>
import MarkdownItVue from "markdown-it-vue";
import "markdown-it-vue/dist/markdown-it-vue.css";

import AccountImage from "./AccountImage";

import moment from "moment";
import Reaction from "./Reaction";

import { getUsernameFromRoomName } from "../../js/matrix";

export default {
  components: {
    MarkdownItVue,
    AccountImage,
    Reaction,
  },
  props: ["post", "displayAllEvents"],
  methods: {
    getUrl() {
      var p = this.post;
      var ratio = p.w / p.h;
      console.log(ratio);
      console.log(p);
      return global.matrixclient.mxcUrlToHttp(p.url, p.w, p.h, "scale");
    },
    getVideoUrl() {
      var p = this.post;
      return global.matrixclient.mxcUrlToHttp(p.url);
    },
  },
  computed: {
    mtclient() {
      return this.$store.state.mtclient;
    },

    roomUser() {
      return this.mtclient.roomNameToUser(
        this.mtclient.roomIdToRoomName(this.post.room_id)
      );
    },

    senderRoomId() {
      return this.mtclient.usernameToRoomId(this.post.sender.userId);
    },

    readableDateTime() {
      var date = moment(this.post.origin_server_ts, "x");
      return date.fromNow();
    },

    destinationId() {
      var roomName = this.mtclient.roomNameToRoomId(this.post.room_id);
      if (roomName === undefined) return null;
      return getUsernameFromRoomName(roomName);
    },

    destinationName() {
      var roomName = this.mtclient.roomIdToRoomName(this.post.room_id);
      var readable = this.mtclient.roomNameToUser(roomName).displayName;
      return readable;
    },
  },
};
</script>

<style scoped>
.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
