<template>
  <div>
    <b-field>
      <b-input
        placeholder="Write something ..."
        icon="envelope"
        rounded
        v-on:focus="isComponentModalActive = true"
      >
      </b-input>
    </b-field>

    <b-modal
      v-model="isComponentModalActive"
      trap-focus
      :destroy-on-hide="false" >
      <template #default="props">
        <div>
          <div class="">
            <div class="box">
              <PostEditor v-bind="formProps" @close="props.close"></PostEditor>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="props.close"></button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import PostEditor from "./PostEditor";
export default {
  components: {
    PostEditor,
  },
  props: ["roomID"],
  data() {
    return {
      isComponentModalActive: false,
      formProps: {
        roomID: this.roomID,
      },
    };
  },
};
</script>