<template>
  <div>
    <section class="b-tooltips">
      <b-tooltip
        type="is-light"
        :triggers="['click']"
        :auto-close="['outside', 'escape']"
      >
        <template v-slot:content>
          <b-button icon-left="heart"></b-button>
          <b-button icon-left="thumbs-up"></b-button>
          <b-button icon-left="thumbs-down"></b-button>
          <b-button icon-left="rocket"></b-button>
        </template>
        <b-tag v-if="!reactions.length" class="button is-light">React</b-tag>
        <b-field
          grouped
          group-multiline
          v-for="reaction in reactions"
          :key="reaction.event_id"
        >
          <div class="control">
            <b-taglist attached>
              <b-tag type="is-dark">{{
                reaction.event.content["m.relates_to"].key
              }}</b-tag>
              <b-tag type="is-info">{{ reaction.event.sender }}</b-tag>
            </b-taglist>
          </div>
        </b-field>
      </b-tooltip>
    </section>
  </div>
</template>

<script>
export default {
  props: ["reactions"],
};
</script>

<style lang="scss" scoped>
.b-tooltips {
  .b-tooltip:not(:last-child) {
    margin-right: 0.5em;
  }
  .b-tooltip {
    margin-bottom: 0.5em;
  }
}
</style>
