<template>
  <div>
    <div v-if="posts.length">
      <div v-for="post in posts" :key="post.id">
        <PostView :post="post" />
      </div>
    </div>
    <div v-else>
      <h2 class="title">No posts</h2>
      <p>Are you sure that this room is a smatrix room ?</p>
    </div>
  </div>
</template>

<script>
import PostView from "./Post";

export default {
  props: ["timeline"],
  components: {
    PostView,
  },

  computed: {
    posts() {
      // display the posts
      var posts = []; // warning we define a map !!
      var reactions = [];
      if (this.timeline != null) {
        if (this.$store.state.debug)
          console.log("Timelinevue.length : " + this.timeline.length);
        for (var i = 0; i < this.timeline.length; i++) {
          var post = this.timeline[i];

          if (post.event.content.msgtype == "m.text" || post.event.content.msgtype == "m.image" || post.event.type == "m.room.message") {
            if (this.$store.state.debug)
              console.log(i + " : " + post.event.content.msgtype);
            
            var postf = {
              id: post.event.event_id,
              type: post.event.content.msgtype,
              content: post.event.content,
              sender: post.sender,
              room_id: post.event.room_id,
              origin_server_ts: post.event.origin_server_ts,
              reactions: [],
              data: post,
            };

            if(postf.type == "m.image"){
              postf.w = post.event.content.info.w;
              postf.h = post.event.content.info.h;
              post.mimetype = post.event.content.info.mimetype;
              postf.url = post.event.content.url;
            }
            else if(postf.type == "m.video"){
              console.log(post.event.content);
              postf.w = post.event.content.info.w;
              postf.h = post.event.content.info.h;
              post.mimetype = post.event.content.info.mimetype;
              postf.url = post.event.content.url;
            }

            if (postf == null) {
              console.error("post is null...");
            }
            posts.push(postf);
          } else {
            if(post.event.type == "m.room.message"){
              console.log(post);
            }
            if (this.$store.state.debug)
              console.log(i + " : " + post.event.type);
            if (post.event.type == "m.reaction") {
              reactions.push(post);
            } /* else{
              console.log("Not a reaction...");
              console.log(post);
            }*/
          }
        }
        console.log("Timeline length : " + posts.length);
        // add reactions to events

        posts.forEach((post) => {
          var pos = 0;

          while (pos < reactions.length) {
            if (
              reactions[pos].event.content["m.relates_to"] !== undefined &&
              post.id == reactions[pos].event.content["m.relates_to"].event_id
            ) {
              post.reactions.push(reactions[pos]);
              reactions.splice(pos, 1);
            }

            pos++;
          }
        });
      } else {
        console.error("Timeline is null...");
      }
      return posts;
    },
  },
};
</script>