<template>
  <section>
    <b-field label="Search a friend" grouped>
      <b-taginput
        v-model="tags"
        :data="filteredTags"
        autocomplete
        :allow-new="allowNew"
        :open-on-focus="openOnFocus"
        field="userId"
        icon="user"
        placeholder="matrix username (@username:domain)"
        @typing="getFilteredTags"
      >
      </b-taginput>
       <p class="control">
      <b-button class="button is-primary is-rounded" icon-left="user-plus" v-on:click="addUsers"></b-button>
    </p>
    </b-field>
  </section>
</template>

<script>
export default {
  data() {
    return {
      filteredTags: this.data,
      isSelectOnly: false,
      allowNew: true,
      openOnFocus: false,
      tags: [],
      timerid: null,
    };
  },
  methods: {
    getFilteredTags(text) {
      clearTimeout(this.timerid);
      this.timerid = setTimeout(
        (dt) => {
          dt.filteredTags = dt.data.filter((option) => {
            return (
              option.userId
                .toString()
                .toLowerCase()
                .indexOf(text.toLowerCase()) >= 0
            );
          });
        },
        600,
        this
      );
    },
    addUsers() {
      this.tags.forEach((element) => {
        console.log(element);
        this.mtclient.addFriend(element.userId);
      });
      this.tags = [];
    },
  },
  computed: {
    mtclient() {
      return this.$store.state.mtclient;
    },
    data() {
      if (this.mtclient) {
        return this.mtclient.getUsers();
      } else return [];
    },
  },
};
</script>
