<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Mines'Trix</strong> by
        <a href="https://henri1g.fr">Henri2h</a>
      </p>
    </div>
  </footer>
</template>