<template>
  <b-navbar fixed-top:="fTop">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <strong class="is-size-3">Mines'Trix</strong>
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item to="/feed" tag="router-link">
        <IconLabel icon="home" text="Feed" />
      </b-navbar-item>
      <b-navbar-item to="/user-feed" tag="router-link">
        <IconLabel icon="user" text="My account" />
      </b-navbar-item>
        <b-navbar-item to="/friends" tag="router-link">
        <IconLabel icon="user-friends" text="Friends" />
      </b-navbar-item>
   
    </template>

  </b-navbar>
</template>


<script>
import IconLabel from "../Helpers/IconLabel";

export default {
  components: { IconLabel },
  data() {
    return {
      fTop: true,
    };
  },
};
</script>