<template>
<div class="section pt-3" style="position:sticky">
    <h2 class="title is-4">Sidebar</h2>
    <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li>
                <router-link to="/feed">
                    <IconLabel icon="home" text="Feed" />
                </router-link>
            </li>
            <li>
                <router-link to="/user-feed">
                    <IconLabel icon="user" text="User feed" />
                </router-link>
            </li>
            <li>
                <router-link to="/posted">
                    <IconLabel icon="mail-bulk" text="Post Editor" />
                </router-link>
            </li>
            <li>
                <router-link to="/friends">
                    <IconLabel icon="user" text="Add friend" />
                </router-link>
            </li>
        </ul>
        <p class="menu-label">Administration</p>
        <ul class="menu-list">
            <li>
                <router-link to="/settings">
                    <IconLabel icon="cog" text="Settings" />
                </router-link>
            </li>
            <li>
                <router-link to="/debug">
                    <IconLabel icon="bug" text="Debug" />
                </router-link>
            </li>
            <li>
                <a v-on:click="signout()">
                    <IconLabel icon="sign-out-alt" text="Sign out" />
                </a>
            </li>
        </ul>
    </aside>
</div>
</template>

<script>
import IconLabel from "../Helpers/IconLabel";
export default {
    components: {
        IconLabel,
    },
    methods: {
        signout() {
            localStorage.removeItem("userid");
            localStorage.removeItem("token ");
            localStorage.removeItem("hs");

            // todo : find a better way to reload change vue page
            window.location.reload(false);
        },
    },
};
</script>
