<template>
  <section class="section pt-3" style="position:sticky; " v-if="mtclient">
    <h2 class="title is-4">Friends</h2>
    <div v-for="contact in mtclient.friends" :key="contact.userId">
      <div v-if="contact.membership == 'join' && contact.userid != username">
        <AccountDisplay :account="contact" />
      </div>
    </div>
    <h2 class="title is-4">Friends requests</h2>
    <div v-for="contact in mtclient.friends" :key="contact.userId">
      <div v-if="contact.membership == 'request'">
        <AccountDisplay :account="contact" />
      </div>
    </div>
  </section>
</template>

<script>
import AccountDisplay from "../Helpers/AccountDisplay";

export default {
  components: { AccountDisplay },
  computed: {
    mtclient() {
      return this.$store.state.mtclient;
    },
    username() {
      return this.$store.state.mtclient.selectUserDetails.userid;
    },
  },
};
</script>
