<template>
  <div id="app">
    <Navbar />
    <div class="columns">
      <div class="column is-2 is-hidden-mobile ">
        <SLeft />
      </div>
      <div class="column is-7-desktop is-10-touch">
        <router-view></router-view>
      </div>
      <div class="column is-3 is-hidden-touch">
        <SRight />
      </div>
    </div>

    <div class="modal is-clipped" :class="display ? 'is-active':''">
      <div class="modal-background"></div>
      <div class="modal-content">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <ThreeDots />
            </div>
          </div>
        </nav>
      </div>
    </div>

    <Footer></Footer>
  </div>
</template>


<script>
import Navbar from "../components/Navigation/Navbar";
import Footer from "../components/Navigation/Footer";

import SLeft from "../components/Navigation/SLeft";
import SRight from "../components/Navigation/SRight";

import { ThreeDots } from "vue-loading-spinner";
// matrix :

export default {
  name: "App",
  data() {
    return {
      test: 1,
      roomLoaded: false,
    };
  },
  components: { Navbar, Footer, SLeft, SRight, ThreeDots },
  computed: {
    count() {
      return this.$store.state.count;
    },
    joinedRooms() {
      return this.$store.state.joinedRooms;
    },
    display() {
      return false;
      //return !this.$store.state.smatrixReady;
    },
  },
};
</script>

<style>
#app {
  color: #2c3e50;
}
</style>
