<template>
  <div id="app">
    <section class="section">
      <div class="container is-widescreen">
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <h1 class="title">Mines'Trix</h1>
            </div>
          </div>
          <div class="level-item">
            <b-button
              tag="a"
              href="https://gitlab.com/henri2h/smatrix"
              type="is-info"
              icon-left="gitlab"
              icon-pack="fab"
              target="_blank"
            >
              Find me on Gitlab
            </b-button>
          </div>
        </div>

        <h2 class="title ">Login page</h2>

        <form action @submit.prevent="handleSubmit">
          <div>
            <section>
              <b-field label="User ID">
                <b-input
                  type="text"
                  v-model="userid"
                  icon="user"
                  placeholder="Your user id  (@yourusername:matrix.server.domain)"
                  required
                ></b-input>
              </b-field>

              <b-field label="Password">
                <b-input
                  type="password"
                  v-model="password"
                  password-reveal
                  placeholder="Your password"
                  icon="lock"
                  required
                ></b-input>
              </b-field>

              <b-field label="Home server">
                <b-input
                  type="url"
                  v-model="hs"
                  icon="home"
                  placeholder="Home server address (https://yourserver.com)"
                  required
                ></b-input>
              </b-field>
            </section>

            <footer class="field is-grouped section">
              <p class="control">
                <button class="button is-success">Login</button>
              </p>
            </footer>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import { connect, storeCredentials } from "../js/matrix";
import { applicationLogic } from "../js/appLogic";
export default {
  data() {
    return {
      userid: "",
      hs: "",
      password: "",
    };
  },
  methods: {
    async handleSubmit() {
      try {
        // test if userid look like @yourusername:matrix.server.domain
        var reg = /@[\w.-]+:[\w.-]+/;
        var matches = reg.exec(this.userid);

        // is the username well formated ?
        if (matches.length == 1) {
          var data = await connect(this.hs, this.userid, this.password);
          console.log(data);
          // success :
          storeCredentials(this.hs, this.userid, data.token);
          
          // launch application logic and move to app
          applicationLogic();
          global.vue.$router.push({ path: `/feed` });
        } else {
          this.$buefy.toast.open({
            duration: 3000,
            message: `The usermame is not properly formated`,
            type: "is-danger",
          });
        }
      } catch (ex) {
        console.log(ex);
        this.$buefy.toast.open({
          duration: 3000,
          message: `Connection failed, is userid and password correct ?`,
          type: "is-danger",
        });
      }
    },
  },
};
</script>
